.search>img {
    width: 20px;
    position: relative;
    margin: 1rem -2rem;
    padding-bottom: .2rem;
    opacity: 55%;
}

.filters {
    display: flex;
    flex-direction: row;
}

.filter {
    margin: .65rem 5rem;
}

button {
    border-radius: 5px;
    border: 1px rgb(170, 170, 170) solid;
}

input {
    border-radius: 5px;
    border: 1px rgb(170, 170, 170) solid;
}

.qtde-table {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 6px;
    text-align: center;
    width: 5.5rem;
    color: rgb(97, 97, 97);
}